@CHARSET "UTF-8";

.ui-messages-error {
	border-style: none !important;
	background-color: white !important;
}

.ui-messages-fatal {
	border-style: none !important;
	background-color: white !important;
}

.ui-messages-info {
	border-style: none !important;
	background-color: white !important;
}

.ui-messages-warn {
	border-style: none !important;
	background-color: white !important;
}

.ui-panelgrid td {
	border-collapse: inherit !important;
	border-color: transparent !important;
	border-width: 1px !important;
	padding: 2px !important;
	background: #EEE !important;
	background-color: transparent !important;
}

/*.ui-menu-list {
	width: 240px !important;
}*/